__pycache__/
eval_client_0/
results_client_0/
eval_client_1/
results_client_1/
eval_client_2/
results_client_2/
eval_client_3/
results_client_3/
eval_client_4/
results_client_4/
eval_client_5/
results_client_5/
001dados_16_rounds/
002graphs/
client_predictions/
imagens2/

phishingemaildetectortinybertadapted.py
HuggingFaceToken.txt
graphs/
.trae/
centralized_results/